@use './variables' as *;

@font-face {
    font-family: "Avenir-Next";
    src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir-Next";
    src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Next';
    src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid green;
}

body {
    font-size: 100%;
    font-family: $bandsite-font;
}

// global text styles
.page-header-global {
    font-size: $mobile-page-header-size;
    line-height: $mobile-page-header-lh;
    font-weight: $font-bold;
}

.section-heading-global{
    font-size: $mobile-section-header-size;
    line-height: $mobile-section-header-lh;
    font-weight: $font-bold;
    padding-top: $mobile-headline-p-top;
}

.subheading-global {
    font-size: $mobile-subheader-size;
    line-height: $mobile-subheader-lh;
    font-weight: $font-demi;
}

.body-copy-global {
    font-size: $mobile-body-copy-size;
    line-height: $mobile-body-copy-lh;
}

.footer-copy-global {
    font-size: $mobile-footer-copy-size;
    line-height: $mobile-footer-copy-lh;
}