@use './variables' as *;
@use './mixins' as *;

@font-face {
    font-family: "Avenir-Next";
    src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir-Next";
    src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Next';
    src: url(/assets/fonts/AvenirNextLTPro-Demi.otf);
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid green;
}

body {
    font-size: 100%;
    font-family: $bandsite-font;
}

// Header/Nav Section -------------------------

.header {
    background: $bandsite-black;
    color: $bandsite-white;  
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include tablet {
            flex-direction: row;
            width: 50%;
            justify-content: flex-start;
        }
        @include desktop {
            width: 100%;
            max-width: 1280px;
            margin: 0 auto;
        }
    }
    &__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: $mobile-component-p;
        @include tablet {
            width: 40%;
            justify-content: left;
            padding: $desktop-component-p;

        }
        @include desktop {
            padding-left: $desktop-wider-p;
            width: 25%;
        }
    }
    &__logo-img {
        height: 1.25rem;
        width: 7.5rem;
    }
    &__nav {
        width: 100%;
        @include tablet {
            width: 50%;
        }
        @include desktop {
            width: 30%;
        }
    }
    &__nav-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @include desktop {
            justify-content: flex-start;
        }
    }
    &__nav-item {
        width: 49%;
        list-style: none;
        text-align: center;
        font-size: $mobile-subheader-size;
        font-weight: $font-normal;
        margin: 0 auto;
        @include tablet {
            font-size: $mobile-subheader-size;
            margin: 0 $desktop-component-p;
        }
        @include desktop {
            width: 20%;
        }
    }
    &__nav-link {
        width: 100%;
        display: inline-block;
        color: $bandsite-mercury;
        text-decoration: none;
        padding: $mobile-component-p 0;
        @include tablet {
            padding: $desktop-component-p 0;
        }
        &--active {
            font-weight: $font-demi;
            color: $bandsite-white;
            border-bottom: 2px solid $bandsite-white;
        }
        &:hover{
            color: $bandsite-white;
            border-bottom: 2px solid $bandsite-white;

        }
    }
}



// Footer Section -------------------------

.footer{
    background: $bandsite-black;
    color: $bandsite-white;
    margin-top: $mobile-component-p;
    &__wrapper{
        width: 70%;
        padding: 0 $mobile-component-p $mobile-component-p;
        display: flex;
        flex-direction: column;
        @include tablet {
            margin-top: $desktop-headline-p-top;
            width: 100%;
            padding: $desktop-headline-p-top $desktop-component-p $desktop-component-p;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include desktop {
            justify-content: flex-start;
            padding: $desktop-headline-p-top $desktop-wider-p $desktop-component-p;
            max-width: 1280px;
            margin: 0 auto;
        }
    }
    &__heading {
        font-size: $mobile-section-header-size;
        line-height: $mobile-section-header-lh;
        font-weight: $font-bold;
        @include tablet {
            font-size: $desktop-section-header-size;
            line-height: $desktop-section-header-lh;
            font-weight: $font-bold;
            width: 33%;
        }
        @include desktop {
            width: 25%;
        }
        }
    &__social-icons{
        width: 40%;
        display: flex;
        justify-content: space-between;
        @include tablet {
            width: 33%;
            justify-content: flex-start;
        }
        @include desktop {
            width: 25%;
        }
    }
    &__social-icon{
        width: $mobile-section-header-size;
        height: $mobile-section-header-size;
        @include tablet{
            width: $desktop-section-header-size;
            height: $desktop-section-header-size;
            margin-right: 2rem;
        }
    }
    &__logo {
        order: 1;
        @include tablet {
            order: 0;
            width: 33%;
            display: flex;
            justify-content: flex-end;
            align-content: center;
        }
        @include desktop {
            width: 50%;
        }
    }
    &__contact-card {
        padding: $mobile-component-p 0 0;
        height: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include tablet {
            width: 33%;
            height: 10rem;
        }
        @include desktop {
            width: 25%;
        }
    }
    &__copyright{
        order: 2;
        padding-top: $mobile-component-p;
        @include tablet {
            order: 0;
            width: 100%;
            padding-top: $desktop-component-p;
            align-self: flex-end;
        }
    }
    &__copy{
        font-size: $mobile-footer-copy-size;
        line-height: $mobile-footer-copy-lh;
        @include tablet {
            font-size: $desktop-footer-copy-size;
            line-height: $desktop-footer-copy-lh;
        }
        &--name{
            font-weight: $font-demi;
        }
        &--link{
            font-size: $mobile-footer-copy-size;
            line-height: $mobile-footer-copy-lh;
            text-decoration: none;
            color: $bandsite-white;
            @include tablet {
                font-size: $desktop-footer-copy-size;
                line-height: $desktop-footer-copy-lh;
            }
        }
    }
}