// Breakpoints
$desktop-width: 1280px;
$tablet-width: 768px;

// font
$bandsite-font: "Avenir-Next";

// Primary Colours
$bandsite-black: #323232;
$bandsite-silver: #AFAFAF;
$bandsite-white: #FFFFFF;

// Secondary Colours
$bandsite-darkblack: #000000;
$bandsite-mercury: #E1E1E1;
$bandsite-alabaster: #FAFAFA;
$bandsite-formerror: #D22D2D; 

// column widths
$mobile-margin: 1rem;       // 16px
$mobile-gutter: 1rem;       // 16px
$mobile-column: auto;

$tablet-margin: 2.25rem;    // 36px
$tablet-gutter: 1.5rem;     // 24px
$talet-column: auto;

$desktop-margin: auto;
$desktop-gutter: 1.5rem;    // 24px
$desktop-column: 3.9375rem; // 63px

// padding amts. 
$mobile-headline-p-top: 1.5rem;
$mobile-component-p: 1rem; 
$mobile-component-px2: 2rem;

$desktop-headline-p-top: 3rem;
$desktop-component-p: 1.625rem;
$desktop-component-px2: 3.25rem;
$desktop-wider-p: 5rem;

// font weights
$font-bold: 700;
$font-demi: 600;
$font-normal: 400;

// mobile text sizes
$mobile-page-header-size: 1.5rem;   // 24px
$mobile-page-header-lh: 2rem;       // 32px

$mobile-section-header-size: 1.5rem; 
$mobile-section-header-lh: 2rem;

$mobile-subheader-size: .875rem;    // 14px
$mobile-subheader-lh: 1.375rem;     // 22px

$mobile-body-copy-size: .8125rem;   // 13px
$mobile-body-copy-lh: 1.125rem;     // 18px

$mobile-footer-copy-size: .8125rem; // 13px
$mobile-footer-copy-lh: 1.125rem;   // 18px

$mobile-buttons-size: .625rem;      // 10px
$mobile-buttons-lh: 1.25rem;        // 20px

// desktop text sizes
$desktop-page-header-size: 3.75rem; 
$desktop-page-header-lh: 4.25rem;

$desktop-section-header-size: 2.25rem;
$desktop-section-header-lh: 2.75rem;

$desktop-subheader-size: 1.5rem;
$desktop-subheader-lh: 2rem;

$desktop-body-copy-size: .875rem;
$desktop-body-copy-lh: 1.375rem;

$desktop-footer-copy-size: .875rem;
$desktop-footer-copy-lh: 1.25rem;

$desktop-buttons-size: .75rem;
$desktop-buttons-lh: 1.25rem;

