// Breakpoints
$desktop-width: 1280px;
$tablet-width: 768px;

// Primary Colours
$bandsite-black: #323232;
$siler: #AFAFAF;
$white: #FFFFFF;

// Secondary Colours
$bandsite-darkblack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;