@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;

// Header/Nav Section -------------------------

// .wholesite__wrapper {
// }

// Header/Nav Section -------------------------

.header {
    background: $bandsite-black;
    color: $bandsite-white;  
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__logo {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
    }
    &__logo-img {
        height: 1.25rem;
        width: 7.5rem;
    }
    &__nav {
        width: 100%;

    }
    &__nav-list {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    &__nav-item {
        width: 100%;
        list-style: none;
        font-size: $mobile-page-header-size;
        font-weight: $font-normal;
        line-height: $mobile-page-header-lh;
        padding: 1rem;
    }
    &__nav-link {
        color: $bandsite-white;
        text-decoration: none;
        width: 100%;
    }
}
// Hero Section -------------------------

.hero {
    background: url(../assets/images/hero-bio.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    &__wrapper {
        padding: 0 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__title {
        font-size: $mobile-page-header-size;
        font-weight: $mobile-page-header-wgt;
        line-height: $mobile-page-header-lh;
        color: $bandsite-white;
    }
}

// Bio Section -------------------------

.about {
    &__section-heading {
        width: 100%;
    }
    &__img {
        width: 100%;
    }
    &__wrapper {
        // border: 1px solid red;
        padding: 0 1rem;

    }
}
// Gallery Section -------------------------

.gallery{
    &__wrapper {
        width: 100%;
    }
    &__images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__img {
        width: 100%;
        padding: 1rem;
    }
}

// Footer Section -------------------------



.footer{
    background: $bandsite-black;
    color: $bandsite-white;
    &__wrapper{
        width: 100%;
        padding: 0 1rem;
    }
}