@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;


// Bio Section -------------------------

.about {
    &__wrapper {
        padding: 0 1rem;
        @include tablet {
            padding: 0 $desktop-component-p;
        }
        @include desktop {
            padding: 0 $desktop-wider-p;
            max-width: 1280px;
            margin: 0 auto;
        }
    }
    &__heading{
        font-size: $mobile-section-header-size;
        line-height: $mobile-section-header-lh;
        font-weight: $font-bold;
        padding-top: $mobile-headline-p-top;
        @include tablet {
            font-size: $desktop-section-header-size;
            line-height: $desktop-section-header-lh;
            font-weight: $font-bold;
            padding-top: $desktop-headline-p-top;
        }
    }
    &__highlight {
        @include tablet {
            padding: 0 $desktop-component-px2;
        }
    }
    &__img {
        width: 100%;
        padding-top: $mobile-component-p;
        @include tablet {
            padding-top: $desktop-component-p;
        }
    }
    &__highlight-text {
        font-size: $mobile-body-copy-size;
        line-height: $mobile-body-copy-lh;
        padding-top: $mobile-component-p;
        font-weight: $font-demi;
        @include tablet {
            font-size: $desktop-subheader-size;
            line-height: $desktop-subheader-lh;
            padding-top: $desktop-component-p;
            font-weight: $font-demi;
            color: $bandsite-black;
        }
        &--name{
            @include tablet {
                font-size: $desktop-body-copy-size;
                padding-top: $desktop-component-p;
            }
        }
    }
    &__bio{
        @include tablet {
            padding: 0 $desktop-component-px2;
        }
    }

    &__bio-heading{
        padding-top: $mobile-component-p;
        @include tablet {
            padding-top: $desktop-headline-p-top;
        }
    }
    &__bio-subheading{
        font-size: $mobile-subheader-size;
        line-height: $mobile-subheader-lh;
        font-weight: $font-demi;
        @include tablet {
            font-size: $desktop-subheader-size;
            line-height: $desktop-subheader-lh;
        }
    }
    &__bio-wrapper {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__bio-text {
        font-size: $mobile-body-copy-size;
        line-height: $mobile-body-copy-lh;
        padding-top: $mobile-component-p;
        font-weight: $font-normal;
        padding-top: $mobile-component-p;
        @include tablet {
            width: 47%;
            font-size: $desktop-body-copy-size;
            line-height: $desktop-body-copy-lh;
            padding-top: $desktop-component-p;
            font-weight: $font-normal;
        }
    }
}
// Gallery Section -------------------------

.gallery {
    background-color: $bandsite-alabaster;
    margin-top: $mobile-component-p;
    @include desktop {
        margin-top: $desktop-component-p;
    }
    &__wrapper{
        padding: $mobile-component-p;
        @include tablet {
            padding: $desktop-component-p;
        }
        @include desktop {
            padding: 0 $desktop-wider-p;
            max-width: 1280px;
            margin: 0 auto;
        }
    }
    &__heading {
        font-size: $mobile-section-header-size;
        line-height: $mobile-section-header-lh;
        font-weight: $font-bold;
        padding-top: $mobile-headline-p-top;
        @include tablet {
            font-size: $desktop-section-header-size;
            line-height: $desktop-section-header-lh;
            font-weight: $font-bold;
            padding-top: $desktop-headline-p-top;
        }
    }
    &__images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;   
            justify-content: space-between;
        }
    }
    &__img {
        width: 100%;
        margin-top: $mobile-component-p;
        @include tablet {
            width: 32%;
            margin-top: $desktop-component-p;
        }
    }
}

