@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

// Hero Section -------------------------

.hero {
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
        url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__wrapper {
        min-height: 50vw;
        padding: 0 $mobile-component-p;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include tablet {
            padding: 0 $desktop-component-p;
        }

        @include desktop {
            padding: 0 $desktop-wider-p;
            max-width: 1280px;
            margin: 0 auto;
        }
    }

    &__page-heading {
        font-size: $mobile-page-header-size;
        line-height: $mobile-page-header-lh;
        font-weight: $font-bold;
        color: $bandsite-white;

        @include tablet {
            font-size: $desktop-page-header-size;
            font-size: $desktop-page-header-size;
            line-height: $desktop-page-header-lh;
            font-weight: $font-bold;
        }
    }
}

// Bio Section -------------------------

.about {
    &__wrapper {
        padding: 0 1rem;

        @include tablet {
            padding: 0 $desktop-component-p;
        }

        @include desktop {
            padding: 0 $desktop-wider-p;
            max-width: 1280px;
            margin: 0 auto;
        }
    }

    &__heading {
        font-size: $mobile-section-header-size;
        line-height: $mobile-section-header-lh;
        font-weight: $font-bold;
        padding-top: $mobile-headline-p-top;

        @include tablet {
            font-size: $desktop-section-header-size;
            line-height: $desktop-section-header-lh;
            font-weight: $font-bold;
            padding-top: $desktop-headline-p-top;
        }
    }

    &__highlight {
        @include tablet {
            padding: 0 $desktop-component-px2;
        }
    }

    &__img {
        width: 100%;
        padding-top: $mobile-component-p;

        @include tablet {
            padding-top: $desktop-component-p;
        }
    }

    &__highlight-text {
        font-size: $mobile-body-copy-size;
        line-height: $mobile-body-copy-lh;
        padding-top: $mobile-component-p;
        font-weight: $font-demi;

        @include tablet {
            font-size: $desktop-subheader-size;
            line-height: $desktop-subheader-lh;
            padding-top: $desktop-component-p;
            font-weight: $font-demi;
            color: $bandsite-black;
        }

        &--name {
            @include tablet {
                font-size: $desktop-body-copy-size;
                padding-top: $desktop-component-p;
            }
        }
    }

    &__bio {
        @include tablet {
            padding: 0 $desktop-component-px2;
        }
    }

    &__bio-heading {
        padding-top: $mobile-component-p;

        @include tablet {
            padding-top: $desktop-headline-p-top;
        }
    }

    &__bio-subheading {
        font-size: $mobile-subheader-size;
        line-height: $mobile-subheader-lh;
        font-weight: $font-demi;

        @include tablet {
            font-size: $desktop-subheader-size;
            line-height: $desktop-subheader-lh;
        }
    }

    &__bio-wrapper {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__bio-text {
        font-size: $mobile-body-copy-size;
        line-height: $mobile-body-copy-lh;
        padding-top: $mobile-component-p;
        font-weight: $font-normal;
        padding-top: $mobile-component-p;

        @include tablet {
            width: 47%;
            font-size: $desktop-body-copy-size;
            line-height: $desktop-body-copy-lh;
            padding-top: $desktop-component-p;
            font-weight: $font-normal;
        }
    }
}

// Gallery Section -------------------------

.gallery {
    background-color: $bandsite-alabaster;
    margin-top: $mobile-component-p;

    @include desktop {
        margin-top: $desktop-component-p;
    }

    &__wrapper {
        padding: $mobile-component-p;

        @include tablet {
            padding: $desktop-component-p;
        }

        @include desktop {
            padding: 0 $desktop-wider-p;
            max-width: 1280px;
            margin: 0 auto;
        }
    }

    &__heading {
        font-size: $mobile-section-header-size;
        line-height: $mobile-section-header-lh;
        font-weight: $font-bold;
        padding-top: $mobile-headline-p-top;

        @include tablet {
            font-size: $desktop-section-header-size;
            line-height: $desktop-section-header-lh;
            font-weight: $font-bold;
            padding-top: $desktop-headline-p-top;
        }
    }

    &__images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__img {
        width: 100%;
        margin-top: $mobile-component-p;

        @include tablet {
            width: 32%;
            margin-top: $desktop-component-p;
        }
    }
}

// Conversation Section -------------------------

.conversation {
    &__wrapper {
        padding: $mobile-component-p;

        @include tablet {
            padding: 0 $desktop-component-p;
        }

        @include desktop {
            padding: 0 $desktop-wider-p;
            max-width: 1280px;
            margin: 0 auto;
        }
    }

    &__comments {
        display: flex;
        flex-direction: column-reverse;
    }

    &__heading {
        font-size: $mobile-section-header-size;
        line-height: $mobile-section-header-lh;
        font-weight: $font-bold;
        padding-top: $mobile-headline-p-top;

        @include tablet {
            font-size: $desktop-section-header-size;
            line-height: $desktop-section-header-lh;
            font-weight: $font-bold;
            padding-top: $desktop-headline-p-top;
        }
    }

    &__avatar {
        min-width: 2.25rem;
        min-height: 2.25rem;
        max-width: 2.25rem;
        max-height: 2.25rem;
        border-radius: 50%;
        background-color: $bandsite-mercury;
    }

    &__box {
        display: flex;
        border-bottom: 1px solid $bandsite-mercury;
        padding: $mobile-component-p 0;
        width: 100%;

        @include tablet {
            max-width: 768px;
            padding: $desktop-component-p 0;
            margin: 0 auto;
        }

        &--left {
            width: 3.5rem;
            padding-top: .25rem;
            display: flex;
            flex-direction: column;
        }

        &--right {
            width: 100%;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;

        &--button {
            @include tablet {
                align-self: flex-end;
            }
        }
    }

    &__details {
        display: flex;
        justify-content: space-between;
    }

    &__label {
        text-transform: uppercase;
        font-size: $mobile-buttons-size;
        font-weight: $font-demi;
        color: $bandsite-silver;
        width: 100%;
        display: inline-block;

        @include tablet {
            font-size: $desktop-buttons-size;
        }

        &--avatar {
            visibility: hidden;
        }

        &--name {
            color: $bandsite-black;
        }

    }

    &__text {
        font-size: $mobile-body-copy-size;
        line-height: $mobile-body-copy-lh;

        @include tablet {
            font-size: $desktop-body-copy-size;
            line-height: $desktop-body-copy-lh;

        }
    }

    &__input {
        min-height: 2.25rem;
        width: 100%;
        border: 1px solid $bandsite-mercury;
        border-radius: 4px;
        padding: $mobile-component-p;

        &--comment {
            min-height: 4.5rem;
            font-family: $bandsite-font;
            vertical-align: middle;
        }

        &:invalid:required {
            border: 1px solid $bandsite-formerror;
        }

        &:active {
            border: 1px solid $bandsite-black;
        }
    }
}