@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/fontface' as *;

.shows-hero {
    background: linear-gradient(rgba(50,50,50, .5), rgba(50,50,50,0.5)), url(../assets/images/hero-shows.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__wrapper {
        min-height: 50vw;
        padding: 0 $mobile-component-p;
        display: flex;
        flex-direction: column;
        @include tablet {
            padding: 0 $desktop-component-p;
        }
        @include desktop {
            padding: 0 $desktop-wider-p;
            flex-direction: row;
            align-items: center;
            max-width: 1280px;
            margin: 0 auto;
        }
    }
    &__page-heading {
        font-size: $mobile-subheader-size;
        line-height: $mobile-subheader-lh;
        font-weight: $font-demi;
        color: $bandsite-white;
        @include tablet {
            font-size: $desktop-subheader-size;
            font-size: $desktop-subheader-size;
            line-height: $desktop-page-header-lh;
            font-weight: $font-demi;
        }
    }
    &__album-title {
        font-size: $mobile-page-header-size;
        line-height: $mobile-page-header-lh;
        font-weight: $font-bold;
        color: $bandsite-white;
        @include tablet {
            font-size: $desktop-page-header-size;
            font-size: $desktop-page-header-size;
            line-height: $desktop-page-header-lh;
            font-weight: $font-bold;
        }
    }
    &__left {
        flex-basis: 50%;
        padding: $mobile-component-p;
    }
    &__right{
        flex-basis: 50%;
        padding: $mobile-component-p;
        @include tablet {
            width: 49%;
            align-self: stretch;
        }
        @include desktop {
            align-self: center;
        }
    }
}

.shows {
    &__wrapper {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        @include tablet {
            padding: 0 $desktop-component-p;
        }
        @include desktop {
            padding: 0 $desktop-wider-p;
            max-width: 1280px;
            margin: 0 auto;
        }
    }
    &__heading{
        font-size: $mobile-section-header-size;
        line-height: $mobile-section-header-lh;
        font-weight: $font-bold;
        padding-top: $mobile-headline-p-top;
        @include tablet {
            font-size: $desktop-section-header-size;
            line-height: $desktop-section-header-lh;
            padding-top: $desktop-headline-p-top;
        }
    }
    &__list{
        border-bottom: 1px solid $bandsite-mercury;
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
        &--colheadings {
            display: none;
            @include tablet {
                display: flex;
                font-size: $desktop-body-copy-size;
                font-weight: $font-demi;
                color: $bandsite-silver;
                border-bottom: 0;
                padding-top: 2rem;
            }
        }
        &-element {
            width: 100%;
            padding: 1rem 0;
        }
    }
    &__item {
        width: 100%;
        @include tablet {
            align-self: center;
            padding: 0;
            margin: 0;
        }
        @include desktop {
            max-width: 80%;
        }
        &--alwayshidden {
            visibility: hidden;
        }
        &--itemheader {
            color: $bandsite-silver;
            font-size: $mobile-subheader-size;
            line-height: $mobile-subheader-lh;
            font-weight: $font-demi;
            text-transform: uppercase;
            @include tablet {
                display: none;
            }
        }
        &--text {
            font-size: $mobile-body-copy-size;
            line-height: $mobile-body-copy-lh;        
        }
        &--bold {
            font-weight: $font-demi;
        }
    }
    &__button{
        border-radius: 4px;
        height: 2.5rem;
        width: 100%;
        background-color: $bandsite-black;
        color: $bandsite-white;
        font-size: $mobile-buttons-size;
        line-height: $mobile-buttons-lh;
        font-weight: $font-bold;
        @include tablet {
            min-width: 9.375rem;
            max-width: 9.375rem;
            padding: 0 2rem;
            font-size: $desktop-buttons-size;
            line-height: $desktop-buttons-lh;
        }
    }

}
